.myForm {
    text-align: center;
    background-color: white;
    padding: 50px;
}
h2 {
    text-align: center;
}
.wrapper {
    text-align: center;
    background-color: white;
    color: white;
}
body {
    background-color: lightsteelblue;
    padding: 100px;
}
.remove {
    text-align: center;
    padding: 50px;
    background-color: white;
}
#Middle {
    text-align: center;
    padding: 75px;
    background-color: white;
}
#stored {
    background-color: white;
    text-align: center;
    font-size: 150%;
}





