body {
    background-color: dimgrey;
}
p {
    font-family: cursive;
    color: white;
}
.wrapper {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

img {
    transform: scale(0.7) translateX(100px);
}