.wrapper {
    text-align: center;
    font-size: 150%;
    background-color: white;
    padding: 100px;
}
#mealInfo {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 100px;
    border-radius: 5% 10% 5% 5%;
}
body {
    background-color: #333;
    padding: 50px;
}
.explain {
    text-align: center;
    font-size: 150%;
    background-color: white;
    padding: 100px;
}
