h1 {
    background: #333;
    padding: 100px;
    color: white;
    font-size: 50px;
    text-align: center;
    border: 5px solid white;
}
body {
    margin-left: auto;
    margin-right: auto; 
}
.wrapper {
    width: 1400px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto; 
    background: #333;
    padding: 40px;
}
#pA1 {
    text-align: center;
    color: white;
    font-size: 30px;
}
#A1 {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 400px;
    background: white;
    animation-name: colorChange;
    animation-duration: 6s;
    animation-iteration-count: infinite;
        
}
@keyframes colorChange {
    0% {background-color:white; }
    25% {background-color: #FFFFE0; }
    50% {background-color: #ADFF2F;}
    75% {background-color: #7FFFD4;}
    100% {background-color: #191970;}
}
#A2 {
    height: 900px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    text-align: center;
    color: #1E90FF;
}
.start {
    opacity: 0;
}
.textAnimate {
    padding-top: 200px;
    animation-name: Learn;
    animation-duration: 2s;
    font-size: 70px;

}

@keyframes Learn {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(2.0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
    }
}

img {
    transform: scale(0.5);
}
#grass {
    transform: translate(-400px);
    padding: 30px;
}

#mBtn {
    padding: 100px;
    text-align: center;
    
}
#mario {
    max-height: 300px;
    max-width: 300px;
}

.mAnimate {
    animation-name: mario;
    animation-duration: 5s;
    animation-iteration-count: 3;
}

@keyframes mario {
    0% {transform: translateX(0px);}
    50% {transform: translateX(900px);}
    75% {transform: translateX(900px)
    rotateY(180deg);}
    100% {transform: translateX(0px)
        rotateY(180deg);}
}







