body {
    background-color: #333;
    padding: 10px;
}

#display {
    background-color: gray;
    color: white;
}
.wrap {
    padding: 150px;
    text-align: center;
    font-size: 175%;
    background-color: white;
}
#display2 {
    background-color: gray;
    color: white;
}