.myForm label {
    float: left;
    width: 60px;
    
}
#intro {
    font-family: monospace;
    font-size: 150%;
    padding: 50px;
    text-align: center;
}
#display1 {
    font-family: monospace;
    font-size: 150%;
    padding: 50px;
    text-align: center;
 
}
h1 {
    text-align: center;
    color: white;
    font-size: 300%;
}
.wrapper {
    border: 2px solid black;
    padding: 50px;
    background-color: white;
}
#pType {
    font-family: monospace;
    font-size: 150%;
    padding: 50px;
    text-align: center;
}
body {
    padding: 40px;
    background-color: #333;
}
